# Accessing Data From csv File

In [1]:
import pandas as pd

dataset = pd.read_csv("dataset.csv")
x = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [2]:
dataset

,Whether_of_not_the_TA_is_a_native_English_speaker,Course_instructor,Course,Summer_or_regular_semester,Class_size,Class_attribute
0,1,23,3,1,19,3
1,2,15,3,1,17,3
2,1,23,3,2,49,3
3,1,5,2,2,33,3
4,2,7,11,2,55,3
5,2,23,3,1,20,3
6,2,9,5,2,19,3
7,2,10,3,2,27,3
8,1,22,3,1,58,3
9,2,15,3,1,20,3
10,2,10,22,2,9,3
11,2,13,1,2,30,3
12,2,18,21,2,29,3
13,2,6,17,2,39,3
14,2,6,17,2,42,2
15,2,6,17,2,43,2
16,2,7,11,2,10,2
17,2,22,3,2,46,2
18,2,13,3,1,10,2
19,2,7,25,2,42,2
20,2,25,7,2,27,2
21,2,25,7,2,23,2
22,2,2,9,2,31,2
23,2,1,15,1,22,2
24,2,15,13,2,37,2
25,2,7,11,2,13,2
26,2,8,3,2,24,2
27,2,14,15,2,38,2
28,2,21,2,2,42,1
29,2,22,3,2,28,1
...,...,...,...,...,...,...
121,2,13,14,2,17,3
122,2,9,6,2,7,3
123,1,10,3,2,21,3
124,2,14,15,2,36,3
125,1,13,1,2,54,3
126,1,8,3,2,29,3
127,2,20,2,2,45,3
128,2,22,1,2,11,2
129,2,18,12,2,16,2
130,2,20,15,2,18,2
131,1,17,18,2,44,2
132,2,14,23,2,17,2
133,2,24,26,2,21,2
134,2,9,24,2,20,2
135,2,12,8,2,24,2
136,2,9,6,2,5,2
137,2,22,1,2,42,2
138,2,7,11,2,30,1
139,2,10,3,2,19,1
140,2,23,3,2,11,1
141,2,17,18,2,29,1
142,2,16,20,2,15,1
143,2,3,2,2,37,1
144,2,19,4,2,10,1
145,2,23,3,2,24,1
146,2,3,2,2,26,1
147,2,10,3,2,12,1
148,1,18,7,2,48,1
149,2,22,1,2,51,1
150,2,2,10,2,27,1

# Encoding variables and categorizing them using LabelEncoder and OneHotVariable for Course instructor and Course

In [4]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

encoderX = LabelEncoder()
x[:, 0] = encoderX.fit_transform(x[:, 0])
encoderY = LabelEncoder()
y = encoderY.fit_transform(y)

oneHotEncoder = OneHotEncoder(categorical_features=[1,2])
x = oneHotEncoder.fit_transform(x).toarray()

c:\users\yaswanth thaluri\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
c:\users\yaswanth thaluri\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

# Splitting Data for Training and Testing

In [5]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.3, random_state=0)

# Feature Scaling the Independent Variables

In [7]:
from sklearn.preprocessing import StandardScaler
scX = StandardScaler()
xtrain = scX.fit_transform(xtrain)
xtest = scX.transform(xtest)

Creating two empty lists to find the maximum C Value in the range of -100 to 100

In [8]:
bestC = []
c = []

# Training the Model and Predicing for Different C Values

In [12]:
from sklearn.linear_model import LogisticRegression

i = 0.1
while i<100:
    classifier = LogisticRegression(C=i, solver="newton-cg", multi_class="multinomial", random_state=0)
    classifier.fit(xtrain, ytrain)
    
    ypred = classifier.predict(xtest)
   
    from sklearn.metrics import accuracy_score
    
    bestC.append(accuracy_score(ytest, ypred))
    c.append(i)
    
    i = i+0.1

As C value should be > 0, we are finding the best C value between 0.1 to 100

# Finding the Maximum C obtained from result

In [13]:
maxm = max(bestC)
index = bestC.index(maxm)

Result Obtained

In [15]:
print("Best C = "+str(c[index])+" with Accuracy = "+str(maxm))

Best C = 0.30000000000000004 with Accuracy = 0.5434782608695652